{% extends 'base.html' %}
{% block content %}
<div class="card">
  <div class="card-header">
    <strong>{{ doctor_list.first_name }} {{ doctor_list.last_name }}</strong>
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>Email: </strong>{{ doctor_list.email }}<br/>
      <strong>Phone: </strong>{{ doctor_list.phone }}<br/>
      <strong>Address: </strong>{{ doctor_list.address }}<br/>
      <strong>City: </strong>{{ doctor_list.city }}<br/>
      <strong>State: </strong>{{ doctor_list.state }}<br/>
      <strong>Zip: </strong>{{ doctor_list.zip }}<br/>
      <strong>Notes: </strong>{{ doctor_list.notes }}<br/>
      <strong>ID: </strong>{{ doctor_list.id }}<br/>
    </p>
    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a> -->
  </div>
</div>
<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
<a href="{% url 'delete_record' doctor_list.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' doctor_list.id %}" class="btn btn-secondary">Update Record</a>
 
{% endblock %}