{% extends 'base.html' %}
{% block content %}

  {% if user.is_authenticated %}
  <!-- Display the fillable form -->
  <h2>Add a Master Doctor</h2>
<form method="POST" action="{% url 'master_doctor' %}">
    {% csrf_token %}
    {{ master_doctor.as_p }}
    <button type="submit">Save</button>
  </form>
  <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">sales_rep</th>
        <th scope="col">first_name</th>
        <th scope="col">last_name</th>
        <th scope="col">speciality</th>
        <th scope="col">phone</th>
        <th scope="col">Hospital</th>
      </tr>
    </thead>
    <tbody>
      {% if doctors_data %}
        {% for item in doctors_data %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.sales_rep }}</td>
          <td>{{ item.first_name }}</td>
          <td>{{ item.last_name }}</td>
          <td>{{ item.speciality }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.hospital }}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  
  {% endif %}
{% endblock %}